li {
	text-decoration: none;
	text-align: left;
	align-items: center;
	align-content: left;
	list-style: none;
}
ul {
	align-content: center;
	align-items: center;
}
.delete-user {
	text-align: center;
	align-items: center;
}
